{% extends "base.html" %}
{% block title %} About our project{% endblock%}
{%block content%}
<title>About our project</title>
<body>
    <h2>About our project</h2>
 <p> For our Final 

        With that being said, I will now pass it over to —-----  to talk about where we looked for the data and our exploitory journey to sourcing our data. 
    </p>
    <h2>Used car Data set  </h2>
 <h5>data analysis</h5>
 <p>
          
paragrapgh

  
        </p>
<h5><title></title></h5>
<p>
insert other paragrapgh her

        </p>
</body>
{% endblock %}
