{% extends "base.html" %}
{% block title %} Data analysis {% endblock%}
{%block content%}
<title> Analyzing Spotify Streams and Flight Data Amidst the Pandemic (2020) 
</title>
<body>
    <h3>Analyzing Spotify Streams and Flight Data Amidst the Pandemic (2020) </h3>
    <p>the increase in Spotify streams as people turned to music for solace and entertainment during periods of isolation
    </p>
    <p>There were specific genres or artists that experienced significant growth in streams as a reflection of people's changing moods and emotional states during the pandemic
    </p>
</body>

{% endblock %}